<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Корневая директория отчётов-->
    <add key="rootPachExel" value=""/>
    
    <!--Наименавание директорий для формирования отчётов. Все перечисленные параметры ДОЛЖНЫ БЫТЬ. Можно изменять только имена директорий.-->
    <add key="dirTemp" value="Templates"/>
    <add key="dirEng" value="EnginerFilePackage"/>
    <add key="dirResRep" value="ResultReports"/>
    <add key="dirCompil" value="CompilFilesPackage"/>

    <add key="brangeCell" value="W"/>
    
    <!--Перечень обрабатываемых столбцов из шаблона, первые 2а элемента являются индексом поиска строки для подстановки данных-->
    <add key="rangeCell" value="2,3,5,7,8,9,10,14,22,27,28,29,30"/>
    
    <!--Пароль для листов в документах.-->
    <add key="passwordSheet" value="funt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>