<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Корневая директория отчётов-->
    <add key="rootPachExel" value=""/>
    
    <!--Наименавание директорий для формирования отчётов. Все перечисленные параметры ДОЛЖНЫ БЫТЬ. Можно изменять только имена директорий.-->
    <add key="dirTemp" value="Templates"/>
    <add key="dirEng" value="EnginerFilePackage"/>
    <add key="dirResRep" value="ResultReports"/>
    <add key="dirCompil" value="CompilFilesPackage"/>
    
    <!--Пароль для листов в документах.-->
    <add key="passwordSheet" value="funt"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>